body {
  background-color: white;
}

.categories-page {
  display: flex;
  flex-direction: column;

  .help-block {
    font-size: 20px;
    margin: auto;
    margin-top: 40px;
  }

  .categories-cards-container {
    width: 1120px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
  }

  h1 {
    padding-top: 20px;
    width: 1090px;
    margin: auto;
  }
}

*:focus {
  outline: none;
}

input {
  box-shadow: none !important;
}
