.error {
  font-size: 14px;
  color: red;
}

.checkbox {
  vertical-align: top;
  margin: 0 10px 0 0;
  width: 17px;
  height: 17px;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;

  input {
    width: 17px;
  }
}
