.create-edit-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
  margin-top: 10px;

  .controls {
    display: flex;
    justify-content: flex-end;

    button {
      width: 100%;
    }
  }

  .header-container {
    border-radius: 2px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
    .question-container {
      box-shadow: none;
    }

    input {
      display: block;
      margin-bottom: 10px;
    }
  }
}
