.question-container {
  border-radius: 2px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: white;

  textarea {
    width: 100%;
    resize: none;
    border-radius: 4px;
    border-color: #aaa;
  }

  .remove-button {
    cursor: pointer;
  }

  input[type=radio] {
    margin-left: 10px;
    margin-right: 3px;
  }
}

.main-question-container {
  textarea {
    width: 100%;
    resize: none;
    border-radius: 4px;
    border-color: #aaa;
  }
}
