.side-nav {
  background-color: #2a373d;
  width: 300px;
  min-height: calc(100vh - 75px);
  overflow: auto;
  color: #FFFFFF;

  .category-header {
    background-color: #607D8B;
    height: 50px;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #455A64;
  }

  .category-item {
    &.active {
      background-color: rgb(122, 134, 140);
    }
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #455A64;
    display: flex;
    justify-content: space-between;

    .item-controls {
      display: none;
    }
    .survey-name {
      word-break: break-all;
    }
    i {
      margin-left: 5px;

      &:hover {
        transform: scale(1.2)
      }
    }

    &:hover {
      background-color: rgb(122, 134, 140);
      .item-controls {
        display: block;
      }
    }
  }
}
