.form-wrapper-login {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    width: 25%;
    input {
      margin-top: 20px;
    }
  }
  .login-error {
    color: red;
    position: relative;
    span {
      position: absolute;
      bottom: -10px;
    }
  }
  button {
    width: 100%;
  }
}