.responses-container {
  padding: 15px;
  padding-top: 0px;
  width: 100%;
  height: calc(100vh - 75px);
  overflow: auto;

  .response {
    width: 100%;
    border-bottom: 1px solid gray;
    padding: 5px;

    &:hover {
      background-color: gray;
    }
  }
}
