.category-card {
  width: 250px;
  height: 150px;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #00BCD4;
  margin: 15px;
  font-size: 20px;
  color: white;
  padding: 20px;
  .update-icon, .remove-icon {
    float: right;
  }
  .title {
    text-align: center;
  }
  .description {
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 7px;
    overflow: hidden;
    max-height: 4em;
    word-wrap: break-word;
    text-align: center;
  }
  &:hover {
    -webkit-filter: brightness(90%);
  }
}
