.layout {
  padding-top: 75px;
}

.top-navbar {
  box-shadow: 0 5px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.24);
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-size: 16px;
  color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  background: #0097A7;
  
  .log-out {
    color: white;
    &:hover {
      color: white;
    }
  }
  .brand-logo {
    color: white;
  }
}
