.create-form-button {
  width: 50px;
  height: 50px;
  background-color: #FF4081;
  border-radius: 25px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: rotate(90deg) scale(1.2);
  }
}
