.input-wrapper {
  position: relative;
  input {
    outline: 0 !important;
    box-shadow: none !important;
  }
  .input-error {
    left: 0px;
    top: 35px;
    color: red;
    position: absolute;
  }
}