.survey-details {
  width: 100%;
  padding: 20px;
  .survey-name {
    word-break: break-all;
  }
  .question-preview {
    .title {
      font-size: 16px;
      font-weight: bold;
    }
    .type {
      font-size: 14px;
      font-weight: normal;
    }
  }

  .info {
    display: flex;
    opacity: 0.3;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: unset;
  }
}
